<div class="container">
  <div class="instagram-signature">#{{config.tag}}</div>
  <div *ngIf="selectedMedia" class="content-wrapper">
    <img [src]="selectedMedia.node.display_url" alt="Imagem do instagram" class="media-img" [ngClass]="{'slit-in-vertical' : inAnimation, 'rotate-out-2-cw' : outAnimation}">
    <div *ngIf="selectedMedia.user" class="caption" [ngClass]="{'fade-in-right' : inAnimation}">
      <img src="{{selectedMedia.user.profile_pic_url}}" alt="Profile Picture">
      <div>
        <b>{{selectedMedia.user.username}}</b>
        <br>
        <small>{{selectedMedia.user.full_name}}</small>
        <p>{{selectedMedia.node.edge_media_to_caption.edges[0].node.text}}</p>
      </div>
    </div>
  </div>
  <div class="venturus-signature"></div>
  <div class="settings">
    <a (click)="toggleSettings()"><img src="assets/img/fa-cog.png" alt="Config" style="color: rgba(0,0,0,0.5)"></a>
    <div *ngIf="displaySettings" class="dropdown-settings">
      <form #form="ngForm" (ngSubmit)="setNewConfig()">

        <label>Hashtag</label>
        <input type="text" [(ngModel)]="newConfig.tag" name="tag" placeholder="Hashtag" required>

        <label>Duration seconds</label>
        <input type="number" [(ngModel)]="newConfig.durationSeconds" name="duration" placeholder="Duration time" required>

        <label>Refresh minutes</label>
        <input type="number" [(ngModel)]="newConfig.refreshMinutes" name="refresh" placeholder="Refresh time" required>
        
        <button type="submit" [disabled]="!form.form.valid">Save</button>
      </form>   
    </div>
  </div>
</div>
